# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\mvery\Desktop\eshop-gb-spring\shop-database\src\main\resources\db\changelog\v-2.0\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
